<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bo.anim">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- ========================蓝牙权限====================== -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 似乎android M需要位置权限才能扫描 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- ========================蓝牙权限====================== -->
    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ========================广播注册====================== -->

        <receiver android:name=".bluetooth.BluetoothReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
                <action android:name="android.bluetooth.device.action.FOUND" />
            </intent-filter>
        </receiver>
        <!-- ========================广播注册====================== -->

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.InterpolatorActivity" />
        <activity android:name=".ui.OfObjectActivity" />
        <activity
            android:name=".ui.ObjectAnimatorActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".ui.ShareElementActivity" />
        <activity android:name=".ui.AnimatorSetActivity" />
        <activity android:name=".ui.ImageCacheActivity" />
        <activity android:name=".ui.customview.CustomViewActivity" />
        <activity android:name=".ui.customview.CustomContainsActivity" />
        <activity android:name=".ui.customview.CustomReaBookActivity" />
        <activity android:name=".ui.customview.CustomDoughnutProgressActivity" />
        <activity android:name=".ui.customview.CustomArcActivity" />
        <activity android:name=".ui.customview.CustomCameraAndMatrixActivity" />
        <activity android:name=".ui.customviewgroup.FirstCustomViewGroupActivity" />
        <activity android:name=".ui.customviewgroup.FlowLayoutActivity" />
        <activity android:name=".ui.event.EventAllActivity" />
        <activity android:name=".ui.event.TestEvent1Activity" />
        <activity android:name=".ui.event.ZoomImageActivity" />
        <activity android:name=".ui.matrial.AppBarLayout_CollapsingActivity" />
        <activity android:name=".ui.customview.MiClockActivity" />
        <activity android:name=".ui.matrial.RecyclerAndFABBehaviorActivity" />
        <activity android:name=".ui.matrial.StickyRecyclerActivity" />
        <activity android:name=".ui.matrial.MDContainerActivity" />
        <activity android:name=".ui.matrial.RecyclerAddHeaderActivity" />
        <activity android:name=".ui.matrial.AdvancedRecyclerActivity" />
        <activity android:name=".ui.matrial.ItemTouchRecyclerActivity" />
        <activity android:name=".ui.customviewgroup.ParallelActivity" />
        <activity android:name=".ui.customviewgroup.ViewGroupContainerActivity" />
        <activity android:name=".ui.matrial.AppBarLayoutActivity" />
        <activity android:name=".ui.matrial.AppBarLayout_ViewpagerActivity" />
        <activity android:name=".ui.matrial.RevealEffectActivity" />
        <activity android:name=".ui.customviewgroup.DiscrollActivity" />
        <activity android:name=".ui.customviewgroup.MyListViewActivity" />
        <activity android:name=".ui.customviewgroup.ViewPagerActivity" />
        <activity android:name=".ui.customviewgroup.TranslucentActivity" />
        <activity android:name=".ui.customviewgroup.ParallaxActivity" />
        <activity android:name=".ui.db.DBTestActivity" />

        <service android:name=".service.MyService" />

        <activity android:name=".ui.matrial.WeiboFindPageActivity" />
        <activity android:name=".ui.matrial.MiFirstPageActivity" />
        <activity android:name=".bluetooth.BlueToothActivity" />
        <activity android:name=".ui.customview.ZhiHuActivity"></activity>
    </application>

</manifest>